html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}


a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul{
    padding: 0;
    list-style: none;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}





