.top {
    .head {
        @extend %center;
        padding-top: 53px;
        padding-bottom: 65px;

        &__navigation {
            font-family: $fontText;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__icon {
            display: flex;
            gap: 40px;

            &_link {
                color: $colorSelectText;
                text-align: center;
                font-size: $fontSizeMedium;
                font-style: $fontStyle;
                font-weight: $fontWeightRegular;
                line-height: $lineHeight;
                transition: 0.7s;
            }

            &_link:hover{
                color: #CDA274;
            }
        }
    }

    &__info {
        @extend %center;

        &_content {
            border-radius: 70px;
            background: url(../img/top__info_bac.svg), lightgray 50%/ cover no-repeat;
            padding: 200px 0px 210px 35px;
        }

        &_title {
            color: $colorSelectText;
            font-family: $fontTitle;
            font-size: $fontSizeTitle;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeight;
            max-width: 434px;
            padding-bottom: 18px;
        }

        &_text {
            padding-bottom: 21px;
            color: $colortext;
            font-family: $fontText;
            font-size: $fontSizeMedium;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeightMax;
            letter-spacing: 0.22px;
            max-width: 434px;
        }

        .button {
            &__top__info {
                border-radius: 18px;
                background: $colorSelectText;
                box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
                padding: 26px 49px;
                color: $colorButton;
                text-align: center;
                font-family: $fontText;
                font-size: $fontSizeSmal;
                font-style: $fontStyle;
                font-weight: $fontWeightSemiBold;
                $lineHeight: 125%;
                letter-spacing: 0.36px;
            }

            &__top__info:hover {
                background: $colorButton;
                color: $colorSelectText;
            }

            &__img {
                padding-left: 10px
            }
        }
    }

    .products {
        @extend %center;
        padding-top: 95px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            padding-bottom: 8px;
            color: $colorSelectText;
            text-align: center;
            font-family: $fontTitle;
            font-size: 50px;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeight;
            letter-spacing: 1px;
            max-width: 737px;
        }

        &__text {
            padding-bottom: 93px;
            color: $colortext;
            text-align: center;
            font-family: $fontText;
            font-size: $fontSizeMedium;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeightMax;
            letter-spacing: 0.22px;
            max-width: 737px;
        }
    }

    .catalog {
        @extend %center;
        padding-bottom: 95px;
        display: grid;
        grid-template-columns: repeat(2, 552px);
        justify-content: space-between;
        justify-items: center;
        gap: 56px;

        .element {
            transition: 1.2s;
        }

        .element:hover {
            transform: scale(1.1);
        }

        &__img1 {
            border-radius: 0px 70px 0px 0px;
        }

        &__img2 {
            border-radius: 70px 0px 0px 0px;
        }

        &__img3 {
            border-radius: 0px 0px 70px 0px;
        }

        &__img4 {
            border-radius: 0px 0px 0px 70px;
        }

        &__about {
            padding-top: 24px;
            max-width: 547px;

            &__link {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
            }
        }

        &__title {
            padding-bottom: 4px;
            color: $colorSelectText;
            font-family: $fontTitle;
            font-size: 25px;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeight;
            letter-spacing: 0.5px;
        }

        &__text {
            color: $colortext;
            font-family: $fontText;
            font-size: 22px;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeightMax;
            letter-spacing: 0.22px;
        }

        &__link{
            transition: 0.7s;

            &_color{
                transition: 0.7s;
            }
        }

        &__link:hover{
            stroke: $colorSelectText;

            .catalog__link_color{
                fill:$colorButton; 
            }
        }
    }

    .company {
        @extend %center;
        display: grid;
        grid-template-columns: repeat(4, 246px);
        justify-content: space-between;
        padding-top: 151px;
        padding-bottom: 151px;
        background-color: #F4F0EC;

        .item {
            border-right: 1px solid #CDA274;
            max-width: 246px;

            &__none {
                border-right: none;
            }
        }

        &__title {
            padding-bottom: 16px;
            max-width: 192px;
            text-align: center;
            color: #CDA274;
            font-family: $fontTitle;
            font-size: 85px;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeight;
            letter-spacing: 1.7px;
        }

        &__text {
            color: $colortext;
            font-family: $fontText;
            font-size: $fontSizeMedium;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeightMax;
            letter-spacing: 0.22px;
        }
    }

    .news {
        @extend %center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        padding-top: 96px;
        padding-bottom: 52px;

        &__title {
            color: $colorSelectText;
            text-align: center;
            font-family: $fontTitle;
            font-size: 50px;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeight;
            letter-spacing: 1px;
        }

        &__text {
            max-width: 811px;
            color: $colortext;
            text-align: center;
            font-family: $fontText;
            font-size: $fontSizeMedium;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeightMax;
            letter-spacing: 0.22px;
        }

        &__info {
            @extend %center;
            display: grid;
            grid-template-columns: repeat(3, 382px);
            justify-content: space-between;
            padding-bottom: 96px;

            &_title {
                padding-top: 21px;
                padding-bottom: 30px;
                max-width: 305px;
                color: $colorSelectText;
                font-family: $fontTitle;
                font-size: 25px;
                font-style: $fontStyle;
                font-weight: $fontWeightRegular;
                line-height: $lineHeight;
                letter-spacing: 0.5px;
            }
        }

        &__element {
            padding: 21px;
            border-radius: 70px;
            border: 1px solid #E7E7E7;
            box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
            transition: 0.7s;
        }
        
        &__link{
            transition: 0.7s;
        }

        &__element:hover {
            border-radius: 62px;
            border: 1px solid #E7E7E7;
            background: #F4F0EC;
            box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);

            .news__link {
                fill: $colorButton;
            }
        }

        &__img {
            background: url(../img/naws/Photo.jpg);
            @extend %news__img;
        }

        &__img2 {
            background: url(../img/naws/Photo2.jpg);
            @extend %news__img;
        }

        &__img3 {
            background: url(../img/naws/Photo3.jpg);
            @extend %news__img;
        }

        &__topic {
            position: relative;
            top: 229px;
            margin-left: 20px;
            max-width: 150px;
            border-radius: 8px 8px 8px 0px;
            background: $colorButton;

            &_text {
                padding: 6px 8px;
                color: $colortext;
                font-family: $fontText;
                font-size: 16px;
                font-style: $fontStyle;
                font-weight: $fontWeightRegular;
                line-height: $lineHeightMax;
                letter-spacing: 0.16px;
                text-transform: capitalize;
            }
        }

        &__date__link {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 15px;
            color: $colortext;
            font-family: $fontText;
            font-size: 16px;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeightMax;
            /* 24px */
            letter-spacing: 0.16px;
            text-transform: capitalize;
        }
    }

    .foot {
        @extend %center;
        display: grid;
        grid-template-columns: repeat(3, 340px);
        justify-content: space-between;
        padding-bottom: 134px;

        &__logo {
            padding-bottom: 18px;
        }

        &__text {
            padding-bottom: 31px;
            color: $colortext;
            font-family: $fontText;
            font-size: $fontSizeMedium;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeightMax;
            letter-spacing: 0.22px;
            max-width: 393px;
        }

        &__navigation{
            padding-left: 80px;
        }

        &__social {
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 54px;

            &_icon{
                transition: 0.7s;
            }

            &_icon:hover{
                fill: #CDA274;;
            }
        }

        &__title {
            padding-bottom: 9px;
            color: $colorSelectText;
            font-family: $fontTitle;
            font-size: 25px;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeight;
        }

        &__link {
            color: $colortext;
            font-family: $fontText;
            font-size: $fontSizeMedium;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: 300%;
            letter-spacing: 0.22px;
            transition: 0.7s;
        }

        &__link:hover{
            color: #CDA274;
        }


        &__contact{
            padding-left: 90px;
        }

        &__info {
            padding-top: 17px;
            color: $colortext;
            font-family: $fontText;
            font-size: $fontSizeMedium;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeightMax;
            letter-spacing: 0.22px;
            max-width: 258px;
        }
    }
}