.top {
    .head {
        @extend %center;
        padding-top: 53px;

        &__navigation {
            font-family: $fontText;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__icon {
            display: flex;
            gap: 40px;

            &_link {
                color: $colorSelectText;
                text-align: center;
                font-size: $fontSizeSmal;
                font-style: $fontStyle;
                font-weight: $fontWeightRegular;
                line-height: $lineHeight;
            }
        }
    }

    &__info {
        @extend %center;
        padding-top: 265px;
        background: url(../img/top__info_bac.svg), lightgray 50% / cover no-repeat;

        // &_content {
        // }

        &_title {
            color: $colorSelectText;
            font-family: $fontTitle;
            font-size: $fontSizeTitle;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeight;
            max-width: 434px;
        }

        &_text {
            color: #4D5053;
            font-family: Jost;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            /* 33px */
            letter-spacing: 0.22px;
        }
    }
}