.top {
    .head {
        @extend %center;
        padding-top: 53px;
        padding-bottom: 65px;

        &__navigation {
            font-family: $fontText;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__icon {
            display: flex;
            gap: 40px;

            &_link {
                color: $colorSelectText;
                text-align: center;
                font-size: $fontSizeMedium;
                font-style: $fontStyle;
                font-weight: $fontWeightRegular;
                line-height: $lineHeight;
            }
        }
    }

    &__info {
        @extend %center;

        &_content {
            background: url(../img/top__info_bac.svg), lightgray 50%/ cover no-repeat;
            padding: 200px 0px 259px 35px;
        }

        &_title {
            color: $colorSelectText;
            font-family: $fontTitle;
            font-size: $fontSizeTitle;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeight;
            max-width: 434px;
            padding-bottom: 18px;
        }

        &_text {
            padding-bottom: 21px;
            color: $colortext;
            font-family: $fontText;
            font-size: $fontSizeMedium;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: 150%;
            letter-spacing: 0.22px;
            max-width: 434px;
        }

        .button {
            &__top__info {
                border-radius: 18px;
                background: #292F36;
                box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
                padding: 26px 49px;
                color: $colorButton;
                text-align: center;
                font-family: $fontText;
                font-size: $fontSizeSmal;
                font-style: $fontStyle;
                font-weight: $fontWeightSemiBold;
                $lineHeight: 125%;
                letter-spacing: 0.36px;
            }
        }

    }
}