.top {
    .head {
        @extend %center;
        padding-top: 53px;

        &__navigation {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__icon {
            display: flex;
            gap: 40px;

            &_link {
                color: $colorSelectText;
                text-align: center;
                font-size: $fontSizeSmal;
                font-style: $fontStyle;
                font-weight: $fontWeightRegular;
                line-height: $lineHeight;
            }
        }
    }

    &__info{
        background: url(<>), lightgray 50% / cover no-repeat;
    }
}