$marginNone: 0;
$paddingNone: 0;
$widthSite: 1200px;
$colorSelectText: #292F36;
$colortext: #4D5053;
$colorButton:#FFF;
$fontText: 'Jost', sans-serif;
$fontTitle: 'DM Serif Display', serif;
$fontSizeSmal: 18px;
$fontSizeMedium: 22px;
$fontSizeTitle: 65px;
$fontStyle: normal;
$fontWeightRegular: 400;
$fontWeightSemiBold: 600;
$lineHeight: 125%;
$lineHeightMax: 150%;