$marginNone: 0;
$paddingNone: 0;
$widthSite: 1200px;
$fontText: 'Jost', sans-serif;
$fontTitle: 'DM Serif Display', serif;
$colorSelectText: #292F36;
$fontSizeSmal: 20px;
$fontStyle: normal;
$fontWeightRegular: 400;
$lineHeight: 125%;