.top .news__info, .top .news, .top .company, .top .catalog, .top .products, .top__info, .top .head {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top .head {
  padding-top: 53px;
  padding-bottom: 65px;
}
.top .head__navigation {
  font-family: "Jost", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.top .head__icon {
  display: flex;
  gap: 40px;
}
.top .head__icon_link {
  color: #292F36;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.top__info_content {
  border-radius: 70px;
  background: url(../img/top__info_bac.svg), lightgray 50%/cover no-repeat;
  padding: 200px 0px 210px 35px;
}
.top__info_title {
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  max-width: 434px;
  padding-bottom: 18px;
}
.top__info_text {
  padding-bottom: 21px;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  max-width: 434px;
}
.top__info .button__top__info {
  border-radius: 18px;
  background: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  padding: 26px 49px;
  color: #FFF;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.36px;
}
.top__info .button__img {
  padding-left: 10px;
}
.top .products {
  padding-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top .products__title {
  padding-bottom: 8px;
  color: #292F36;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
  max-width: 737px;
}
.top .products__text {
  padding-bottom: 93px;
  color: #4D5053;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  max-width: 737px;
}
.top .catalog {
  padding-bottom: 95px;
  display: grid;
  grid-template-columns: repeat(2, 552px);
  justify-content: space-between;
  justify-items: center;
  gap: 56px;
}
.top .catalog__img1 {
  border-radius: 0px 70px 0px 0px;
}
.top .catalog__img2 {
  border-radius: 70px 0px 0px 0px;
}
.top .catalog__img3 {
  border-radius: 0px 0px 70px 0px;
}
.top .catalog__img4 {
  border-radius: 0px 0px 0px 70px;
}
.top .catalog__about {
  padding-top: 24px;
  max-width: 547px;
}
.top .catalog__about__link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.top .catalog__title {
  padding-bottom: 4px;
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.top .catalog__text {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.top .company {
  display: grid;
  grid-template-columns: repeat(4, 246px);
  justify-content: space-between;
  padding-top: 151px;
  padding-bottom: 151px;
  background-color: #F4F0EC;
}
.top .company .item {
  border-right: 1px solid #CDA274;
  max-width: 246px;
}
.top .company .item__none {
  border-right: none;
}
.top .company__title {
  padding-bottom: 16px;
  max-width: 192px;
  text-align: center;
  color: #CDA274;
  font-family: "DM Serif Display", serif;
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1.7px;
}
.top .company__text {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.top .news {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-top: 96px;
  padding-bottom: 52px;
}
.top .news__title {
  color: #292F36;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.top .news__text {
  max-width: 811px;
  color: #4D5053;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.top .news__info {
  display: grid;
  grid-template-columns: repeat(3, 382px);
  justify-content: space-between;
  padding-bottom: 96px;
}
.top .news__info_title {
  max-width: 305px;
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.top .news__element {
  position: absolute;
  padding: 21px;
  border-radius: 70px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.top .news__img__photo {
  border-radius: 30px 30px 0px 0px;
}
.top .news__topic {
  position: relative;
  max-width: 124px;
  border-radius: 8px 8px 8px 0px;
  background: #FFF;
}
.top .news__topic_text {
  padding: 6px 8px;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jost", sans-serif;
  font-family: "DM Serif Display", serif;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */