<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seminar 4</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <header class="sticky">
                <a href="/" class="logo">Webdevkin</a>
                <a href="./" class="button">Каталог</a>
            </header>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h1>Список товаров</h1>
                    <!-- Список товаров -->
                </div>
                <div class="col-sm-1"></div>
            </div>
            <footer>
                <p>Разработка <a href="https://webdevkin.ru" target="_blank">Webdevkin</a></p>
            </footer>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Бренд</th>
                <th>Цена</th>
                <th>Рейтинг</th>
            </tr>
        </thead>
        <tbody>
            <tr is="ProductItem" v-for="product in filteredProducts" :product="product" :key="product.good_id"></tr>
        </tbody>
    </table>
    <input v-model.trim="inputSearch" type="text" placeholder="Поиск по названию товара">
    <select v-model="selectCategory">
        <option value="0">Все категории</option>
        <option v-for="category in categories" :key="category.id" :value="category.id">{{ category.category }}</option>
    </select>

</body>

<!-- версия для разработки, отображает полезные предупреждения в консоли -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="script.js"></script>

</html>