<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seminar 2</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <sort v-model="sortType"></sort>
    <list :items="sortedItems"></list>
    <!-- <ul>
        <li @click="currentSorting = 'name'"> byName </li>
        <li @click="currentSorting = 'price'"> byPrice </li>
    </ul> -->

    <app-product v-for="product in productsBy" :key="product.id" :product="product">
    </app-product>
</body>

<script>
    export default {
      props: ['items'],
      data() {
        return {
          sortType: 'byName'
        }
      },
      computed: {
        sortedItems() {
          switch(this.sortType) {
            case 'byName': return  // sort by name
            case 'bySomething': return  // sort by something
          } 
        }
      }
    }
    </script>


<!-- <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.4/vue.js"></script>
    <div id="example-1">
        <ol>
            <p>Сортировка по {{ sortKey }}</p>
            <li v-for="arProductsList in product">
                {{ product.name }}: {{ item.price }}р.
            </li>
        </ol>
        <div>
            <button @click="sortKey = 'name'">name</buttton>

            <button @click="sortKey = 'price'">price</buttton>
        </div>
    </div> -->

<!-- версия для разработки, отображает полезные предупреждения в консоли -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="script.js"></script>
<!-- </body> -->

</html>