.subhead__img {
    width: 100vw;
    padding-bottom: 200px;
}

.content {
    @extend %center;
    padding-bottom: 96px;

    .paper {
        &__first {
            &_title {
                @extend %smallTitle;
                padding-bottom: 21px;
                max-width: 684px;
                letter-spacing: 1px;
            }

            &_img {
                border-radius: 70px;
                padding-bottom: 46px;
            }

            .date__breadcrumbs {
                padding-bottom: 48px;
                display: flex;
                max-width: 804px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                .date {
                    @extend %smallText;
                    letter-spacing: 0.16px;
                    text-transform: capitalize;
                }

                .breadcrumbs__link {
                    @extend %smallText;
                    letter-spacing: 0.16px;
                    text-transform: capitalize;
                    transition: 0.7s;
                }

                .breadcrumbs__link:hover {
                    color: $colorOrange;
                }
            }

            &_text {
                @extend %text;
                padding-bottom: 35px;
                max-width: 804px;
                letter-spacing: 0.22px;
            }

            .quote {
                padding-top: 53px;
                padding-bottom: 53px;
                border-radius: 50px;
                background: #F4F0EC;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                max-width: 800px;

                &__title {
                    max-height: 86px;
                }

                &__text {
                    max-width: 400px;
                    color: $colorOrange;
                    text-align: center;
                    font-family:$fontTitle;
                    font-size: $fontSizeMediumMax;
                    font-style: italic;
                    font-weight: $fontWeightRegular;
                    line-height: $lineHeight;
                    letter-spacing: 0.5px;
                }

            }
        }
    }

}