.subhead {
    &__img {
        position: relative;
        display: inline-block;

        &_photo {
            width: 100vw;
        }
    }

    &__section {
        border-radius: 37px 37px 0px 0px;
        background: $colorButton;
        position: absolute;
        bottom: 1px;
        display: flex;
        width: 503px;
        margin-left: 28%;
        padding: 41px 78px;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        &_title {
            color: $colorSelectText;
            font-family: $fontTitle;
            font-size: 50px;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeight;
        }
    }

    &__link {
        color: $colortext;
        font-family: $fontText;
        font-size: $fontSizeMedium;
        font-style: $fontStyle;
        font-weight: $fontWeightRegular;
        line-height: $lineHeightMax;
        letter-spacing: 0.22px;
    }
}

.latestPost {
    @extend %center;
    padding-top: 183px;
    padding-bottom: 150px;

    &__title {
        padding-bottom: 33px;
        color: $colorSelectText;
        font-family: $fontTitle;
        font-size: 50px;
        font-style: $fontStyle;
        font-weight: $fontWeightRegular;
        line-height: $lineHeight;
    }

    &__post {
        display: flex;
        padding: 22px;
        flex-direction: row;
        align-items: flex-start;
        gap: 65px;
        border-radius: 62px;
        border: 1px solid #E7E7E7;
        box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    }

    &__img {
        max-width: 569px;
        border-radius: 62px;
    }

    &__content {
        max-width: 463px;
    }

    &__subtitle {
        padding-top: 52px;
        padding-bottom: 22px;
        color: $colorSelectText;
        font-family: $fontTitle;
        font-size: 25px;
        font-style: $fontStyle;
        font-weight: $fontWeightRegular;
        line-height: $lineHeight;
        letter-spacing: 0.5px;
    }

    &__text {
        padding-bottom: 41px;
        color: #4D5053;
        font-family: Jost;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 33px */
        letter-spacing: 0.22px;
    }
}

.blog__title {
    color: $colorSelectText;
    font-family: $fontTitle;
    font-size: 50px;
    font-style: $fontStyle;
    font-weight: $fontWeightRegular;
    line-height: $lineHeight;
}