.subhead {
    &__section {
        position: relative;

        &_title {
            color: $colorSelectText;
            font-family: $fontTitle;
            font-size: 50px;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeight;
            /* 62.5px */
        }
    }

    &__img {
        position: absolute;
        // background: url(../img/blog/Image_laceholder.jpg);
        // min-height: 293px;
    }

}