.subhead__img {
    width: 100vw;
    padding-bottom: 200px;
}

.content {
    @extend %center;

    .paper {
        &__first {
            &_title {
                @extend %smallTitle;
                padding-bottom: 21px;
                max-width: 684px;
                letter-spacing: 1px;
            }
        }
    }
}