.subhead {
    &__img {
        position: relative;
        display: inline-block;

        &_photo{
            width: 100vw;
        }

    }

    &__section {
        border-radius: 37px 37px 0px 0px;
        background: #FFF;
        position: absolute;
        bottom: 1px;
        display: flex;
        width: 503px;
        margin-left: 28%;
        padding: 41px 78px;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        &_title {
            color: $colorSelectText;
            font-family: $fontTitle;
            font-size: 50px;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeight;
            /* 62.5px */
        }
    }

}