.subhead__img {
    padding-bottom: 200px;

    &_photo {
        width: 100vw;
    }
}

.content {
    @extend %center;
    display: flex;
    flex-direction: row;
    gap: 53px;
    padding-bottom: 96px;

    .paper {
        &__first {
            &_title {
                @extend %smallTitle;
                padding-bottom: 21px;
                max-width: 684px;
                letter-spacing: 1px;
            }

            &_img {
                border-radius: 70px;
                padding-bottom: 46px;
            }

            .date__breadcrumbs {
                padding-bottom: 48px;
                display: flex;
                max-width: 804px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                .date {
                    @extend %smallText;
                    letter-spacing: 0.16px;
                    text-transform: capitalize;
                }

                .breadcrumbs__link {
                    @extend %smallText;
                    letter-spacing: 0.16px;
                    text-transform: capitalize;
                    transition: 0.7s;
                }

                .breadcrumbs__link:hover {
                    color: $colorOrange;
                }
            }

            &_text {
                @extend %text;
                padding-bottom: 35px;
                max-width: 804px;
                letter-spacing: 0.22px;
            }

            .quote {
                padding-top: 53px;
                padding-bottom: 53px;
                border-radius: 50px;
                background: #F4F0EC;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                max-width: 800px;

                &__title {
                    max-height: 86px;
                }

                &__text {
                    max-width: 400px;
                    color: $colorOrange;
                    text-align: center;
                    font-family: $fontTitle;
                    font-size: $fontSizeMediumMax;
                    font-style: italic;
                    font-weight: $fontWeightRegular;
                    line-height: $lineHeight;
                    letter-spacing: 0.5px;
                }

            }
        }

        &__second {
            padding-top: 73px;

            &_title {
                @extend %smallTitle;
                padding-bottom: 21px;
                letter-spacing: 1px;
            }

            &_text {
                @extend %text;
                padding-bottom: 35px;
                max-width: 804px;
                letter-spacing: 0.22px;
            }

            ol {
                list-style-type: none;
                /* Убираем исходные маркеры */
                counter-reset: num;
                /* Задаём имя счетчика */
            }

            li::before {
                content: counter(num) '. ';
                /* Выводим число */
                counter-increment: num;
                /* Увеличиваем значение счётчика */
                color: $colorOrange;
            }

            &_list {
                @extend %text;
                margin-left: 5px;
                padding-bottom: 35px;
                max-width: 804px;
                letter-spacing: 0.22px;
            }

            &_img {
                border-radius: 70px;
                padding-top: 20px;
                padding-bottom: 46px;
            }
        }
    }

    .tags {
        .button {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
        }

        &__title {
            @extend %mediumTitle;
            padding-bottom: 24px;
            letter-spacing: 0.5px;
        }

        &__button {
            @extend %smallText;
            color: $colorSelectText;
            text-align: center;
            letter-spacing: 0.36px;
            padding: 8px 30px;
            border-radius: 10px;
            background: #F4F0EC;
            border-color: #F4F0EC;
            transition: 0.7s;
        }

        &__button:hover {
            color: $colorButton;
            border-color: $colorSelectText;
            background: $colorSelectText;
        }
    }

    .blog__list_items {
        display: grid;
        grid-template-columns: repeat(1, 350px);
        gap: 25px;

        .blog__list_img {
            max-width: 310px;
            margin-bottom: 15px;
            border-radius: 60px 60px 0px 0px;
        }

        .blog__list_text {
            color: #292F36;
            font-family: "DM Serif Display", serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
        }
        .blog__list_content {
            display: flex;
            align-items: center;
            justify-content: space-between;
    }
}

}