.top {
    .head {
        @extend %center;
        padding-top: 53px;
        padding-bottom: 65px;

        &__navigation {
            font-family: $fontText;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__icon {
            display: flex;
            gap: 40px;

            &_link {
                color: $colorSelectText;
                text-align: center;
                font-size: $fontSizeMedium;
                font-style: $fontStyle;
                font-weight: $fontWeightRegular;
                line-height: $lineHeight;
                transition: 0.7s;
            }

            &_link:hover {
                color: $colorOrange;
            }
        }
    }

    &__info {
        @extend %center;

        &_content {
            border-radius: 70px;
            background: url(../img/top__info_bac.svg), lightgray 50%/ cover no-repeat;
            padding: 200px 0px 210px 35px;
        }

        &_title {
            @extend %maxTitle;
            max-width: 434px;
            padding-bottom: 18px;
        }

        &_text {
            @extend %text;
            padding-bottom: 21px;
            letter-spacing: 0.22px;
            max-width: 434px;
        }

        .button {
            &__top__info {
                @extend %smallText;
                color: $colorButton;
                border-radius: 18px;
                background: $colorSelectText;
                box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
                padding: 26px 49px;
                text-align: center;
                letter-spacing: 0.36px;
                transition: 0.7s;
            }

            &__top__info:hover {
                background: $colorButton;
                color: $colorSelectText;
            }

            &__img {
                padding-left: 10px
            }
        }
    }

    .products {
        @extend %center;
        padding-top: 95px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            @extend %smallTitle;
            padding-bottom: 8px;
            text-align: center;
            letter-spacing: 1px;
            max-width: 737px;
        }

        &__text {
            @extend %text;
            padding-bottom: 93px;
            text-align: center;
            letter-spacing: 0.22px;
            max-width: 737px;
        }
    }

    .catalog {
        @extend %center;
        padding-bottom: 95px;
        display: grid;
        grid-template-columns: repeat(2, 552px);
        justify-content: space-between;
        justify-items: center;
        gap: 56px;

        .element {
            transition: 1.2s;
        }

        .element:hover {
            transform: scale(1.1);
        }

        &__img1 {
            border-radius: 0px 70px 0px 0px;
        }

        &__img2 {
            border-radius: 70px 0px 0px 0px;
        }

        &__img3 {
            border-radius: 0px 0px 70px 0px;
        }

        &__img4 {
            border-radius: 0px 0px 0px 70px;
        }

        &__about {
            padding-top: 24px;
            max-width: 547px;

            &__link {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
            }
        }

        &__title {
            @extend %mediumTitle;
            padding-bottom: 4px;
            letter-spacing: 0.5px;
        }

        &__text {
            @extend %text;
            letter-spacing: 0.22px;
        }

        .catalog__link {
            transition: 0.7s;

            .catalog__link_color {
                transition: 0.7s;
            }
        }

        &__link:hover {
            stroke: $colorSelectText;

            .catalog__link_color {
                fill: $colorButton;
            }
        }
    }

    .company {
        @extend %center;
        display: grid;
        grid-template-columns: repeat(4, 246px);
        justify-content: space-between;
        padding-top: 151px;
        padding-bottom: 151px;
        background-color: #F4F0EC;

        .item {
            border-right: 1px solid $colorOrange;
            max-width: 246px;

            &__none {
                border-right: none;
            }
        }

        &__title {
            padding-bottom: 16px;
            max-width: 192px;
            text-align: center;
            color: $colorOrange;
            font-family: $fontTitle;
            font-size: 85px;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: $lineHeight;
            letter-spacing: 1.7px;
        }

        &__text {
            @extend %text;
            letter-spacing: 0.22px;
        }
    }

    .blog {
        @extend %center;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 96px;
        margin-bottom: 96px;

        &__title {
            @extend %smallTitle;
            margin-bottom: 10px;
            text-align: center;
            letter-spacing: 1px;
        }

        &__text {
            @extend %text;
            margin-bottom: 52px;
            width: 811px;
            text-align: center;
            letter-spacing: 0.22px;
        }

        &__items {
            display: flex;
            flex-direction: row;
            gap: 25px;
            flex-wrap: wrap;
        }

        &__item {
            position: relative;
            padding: 20px;
            border-radius: 62px;
            border: 1px solid #e7e7e7;
            box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
            transition: 0.7s;

            &_img {
                margin-bottom: 21px;
                border-radius: 60px 60px 0px 0px;
            }

            &_tag {
                @extend %smallText;
                position: absolute;
                width: 124px;
                top: 247px;
                left: 40px;
                letter-spacing: 0.16px;
                background-color: $colorButton;
                border-radius: 8px 8px 8px 0px;
                padding: 7px 9px 10px 11px;
                transition: 0.7s;
            }

            &_text {
                @extend %mediumTitle;
                display: flex;
                width: 305px;
                height: 70px;
                flex-direction: column;
                justify-content: center;
                letter-spacing: 0.5px;
                margin-bottom: 30px;
            }

            &_content {
                display: flex;
                width: 340px;
                align-items: center;
                gap: 65px;
            }

            &_content-date {
                @extend %smallText;
                display: flex;
                width: 223px;
                height: 33px;
                flex-direction: column;
                justify-content: center;
                flex-shrink: 0;
                letter-spacing: 0.16px;
                text-transform: capitalize;
            }
        }

        circle {
            transition: 0.7s;
        }

        .blog__item:hover {
            background: #F4F0EC;
        }

        .blog__item:hover circle {
            fill: $colorButton;
        }

    }

    .foot {
        @extend %center;
        display: grid;
        grid-template-columns: repeat(3, 340px);
        justify-content: space-between;
        padding-bottom: 134px;

        &__logo {
            padding-bottom: 18px;
        }

        &__text {
            @extend %text;
            padding-bottom: 31px;
            letter-spacing: 0.22px;
            max-width: 393px;
        }

        &__navigation {
            padding-left: 80px;
        }

        &__social {
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 54px;

            &_icon {
                transition: 0.7s;
            }

            &_icon:hover {
                fill: $colorOrange;
                ;
            }
        }

        &__title {
            @extend %mediumTitle;
            padding-bottom: 9px;
        }

        &__link {
            color: $colortext;
            font-family: $fontText;
            font-size: $fontSizeMedium;
            font-style: $fontStyle;
            font-weight: $fontWeightRegular;
            line-height: 300%;
            letter-spacing: 0.22px;
            transition: 0.7s;
        }

        &__link:hover {
            color: $colorOrange;
        }


        &__contact {
            padding-left: 90px;
        }

        &__info {
            @extend %text;
            padding-top: 17px;
            letter-spacing: 0.22px;
            max-width: 258px;
        }
    }
}