$marginNone: 0;
$paddingNone: 0;
$widthSite: 1200px;
$colorSelectText: #292F36;
$colortext: #4D5053;
$colorButton: #FFF;
$colorOrange: #CDA274;
$fontText: 'Jost', sans-serif;
$fontTitle: 'DM Serif Display', serif;
$fontSizeVerySmal: 16px;
$fontSizeSmal: 18px;
$fontSizeMedium: 22px;
$fontSizeTitle: 65px;
$fontStyle: normal;
$fontWeightRegular: 400;
$fontWeightSemiBold: 600;
$lineHeight: 125%;
$lineHeightMax: 150%;

%maxTitle {
    color: $colorSelectText;
    font-family: $fontTitle;
    font-size: $fontSizeTitle;
    font-style: $fontStyle;
    font-weight: $fontWeightRegular;
    line-height: $lineHeight;
}

%text {
    color: $colortext;
    font-family: $fontText;
    font-size: $fontSizeMedium;
    font-style: $fontStyle;
    font-weight: $fontWeightRegular;
    line-height: $lineHeightMax;
}

%smallText {
    color: $colorButton;
    text-align: center;
    font-family: $fontText;
    font-size: $fontSizeSmal;
    font-style: $fontStyle;
    font-weight: $fontWeightSemiBold;
    $lineHeight: $lineHeight;
}

%smallText {
    color: $colortext;
    font-family: $fontText;
    font-size: $fontSizeVerySmal;
    font-style: $fontStyle;
    font-weight: $fontWeightRegular;
    line-height: $lineHeightMax;
}