.articles, .latestPost, .top .foot, .top .news__info, .top .news, .top .company, .top .catalog, .top .products, .top__info, .top .head {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top .news__img3, .top .news__img2, .top .news__img {
  border-radius: 30px 30px 0px 0px;
  min-height: 293px;
}

.top .head {
  padding-top: 53px;
  padding-bottom: 65px;
}
.top .head__navigation {
  font-family: "Jost", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.top .head__icon {
  display: flex;
  gap: 40px;
}
.top .head__icon_link {
  color: #292F36;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  transition: 0.7s;
}
.top .head__icon_link:hover {
  color: #CDA274;
}
.top__info_content {
  border-radius: 70px;
  background: url(../img/top__info_bac.svg), lightgray 50%/cover no-repeat;
  padding: 200px 0px 210px 35px;
}
.top__info_title {
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  max-width: 434px;
  padding-bottom: 18px;
}
.top__info_text {
  padding-bottom: 21px;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  max-width: 434px;
}
.top__info .button__top__info {
  border-radius: 18px;
  background: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  padding: 26px 49px;
  color: #FFF;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.36px;
  transition: 0.7s;
}
.top__info .button__top__info:hover {
  background: #FFF;
  color: #292F36;
}
.top__info .button__img {
  padding-left: 10px;
}
.top .products {
  padding-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top .products__title {
  padding-bottom: 8px;
  color: #292F36;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
  max-width: 737px;
}
.top .products__text {
  padding-bottom: 93px;
  color: #4D5053;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  max-width: 737px;
}
.top .catalog {
  padding-bottom: 95px;
  display: grid;
  grid-template-columns: repeat(2, 552px);
  justify-content: space-between;
  justify-items: center;
  gap: 56px;
}
.top .catalog .element {
  transition: 1.2s;
}
.top .catalog .element:hover {
  transform: scale(1.1);
}
.top .catalog__img1 {
  border-radius: 0px 70px 0px 0px;
}
.top .catalog__img2 {
  border-radius: 70px 0px 0px 0px;
}
.top .catalog__img3 {
  border-radius: 0px 0px 70px 0px;
}
.top .catalog__img4 {
  border-radius: 0px 0px 0px 70px;
}
.top .catalog__about {
  padding-top: 24px;
  max-width: 547px;
}
.top .catalog__about__link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.top .catalog__title {
  padding-bottom: 4px;
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.top .catalog__text {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.top .catalog__link {
  transition: 0.7s;
}
.top .catalog__link_color {
  transition: 0.7s;
}
.top .catalog__link:hover {
  stroke: #292F36;
}
.top .catalog__link:hover .catalog__link_color {
  fill: #FFF;
}
.top .company {
  display: grid;
  grid-template-columns: repeat(4, 246px);
  justify-content: space-between;
  padding-top: 151px;
  padding-bottom: 151px;
  background-color: #F4F0EC;
}
.top .company .item {
  border-right: 1px solid #CDA274;
  max-width: 246px;
}
.top .company .item__none {
  border-right: none;
}
.top .company__title {
  padding-bottom: 16px;
  max-width: 192px;
  text-align: center;
  color: #CDA274;
  font-family: "DM Serif Display", serif;
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1.7px;
}
.top .company__text {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.top .news {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-top: 96px;
  padding-bottom: 52px;
}
.top .news__title {
  color: #292F36;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.top .news__text {
  max-width: 811px;
  color: #4D5053;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.top .news__info {
  display: grid;
  grid-template-columns: repeat(3, 382px);
  justify-content: space-between;
  padding-bottom: 96px;
}
.top .news__info_title {
  padding-top: 21px;
  padding-bottom: 30px;
  max-width: 305px;
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.top .news__element {
  padding: 21px;
  border-radius: 70px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  transition: 0.7s;
}
.top .news__link {
  transition: 0.7s;
}
.top .news__element:hover {
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  background: #F4F0EC;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.top .news__element:hover .news__link {
  fill: #FFF;
}
.top .news__img {
  background: url(../img/naws/Photo.jpg);
}
.top .news__img2 {
  background: url(../img/naws/Photo2.jpg);
}
.top .news__img3 {
  background: url(../img/naws/Photo3.jpg);
}
.top .news__topic {
  position: relative;
  top: 229px;
  margin-left: 20px;
  max-width: 150px;
  border-radius: 8px 8px 8px 0px;
  background: #FFF;
}
.top .news__topic_text {
  padding: 6px 8px;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.top .news__date__link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.top .foot {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  justify-content: space-between;
  padding-bottom: 134px;
}
.top .foot__logo {
  padding-bottom: 18px;
}
.top .foot__text {
  padding-bottom: 31px;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  max-width: 393px;
}
.top .foot__navigation {
  padding-left: 80px;
}
.top .foot__social {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 54px;
}
.top .foot__social_icon {
  transition: 0.7s;
}
.top .foot__social_icon:hover {
  fill: #CDA274;
}
.top .foot__title {
  padding-bottom: 9px;
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.top .foot__link {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 0.22px;
  transition: 0.7s;
}
.top .foot__link:hover {
  color: #CDA274;
}
.top .foot__contact {
  padding-left: 90px;
}
.top .foot__info {
  padding-top: 17px;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  max-width: 258px;
}

.subhead__img {
  position: relative;
  display: inline-block;
}
.subhead__img_photo {
  width: 100vw;
}
.subhead__section {
  border-radius: 37px 37px 0px 0px;
  background: #FFF;
  position: absolute;
  bottom: 1px;
  display: flex;
  width: 503px;
  margin-left: 28%;
  padding: 41px 78px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.subhead__section_title {
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.subhead__link {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.latestPost {
  padding-top: 183px;
  padding-bottom: 150px;
}
.latestPost__title {
  padding-bottom: 33px;
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.latestPost__post {
  display: flex;
  padding: 22px;
  flex-direction: row;
  align-items: flex-start;
  gap: 65px;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.latestPost__img {
  max-width: 569px;
  border-radius: 62px;
}
.latestPost__content {
  max-width: 463px;
}
.latestPost__subtitle {
  padding-top: 52px;
  padding-bottom: 22px;
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.latestPost__text {
  padding-bottom: 41px;
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
}

.articles {
  padding-bottom: 30px;
}
.articles__title {
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.news__info {
  gap: 30px;
}

.blog-post {
  padding-top: 202px;
  padding-bottom: 149px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.blog-post__title {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.blog-post__latest-post {
  padding: 22px;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  transition: 0.3s;
}
.blog-post__latest-post:hover {
  background: #f4f0ec;
}
.blog-post__latest-post:hover circle {
  fill: white;
}
.blog-post__latest-post-subbox {
  display: flex;
  flex-direction: row;
  gap: 64px;
}
.blog-post__latest-post-image {
  border-radius: 48px;
}
.blog-post__latest-post-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 16px;
}
.blog-post__latest-post-head {
  max-width: 463px;
  margin-bottom: 22px;
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.blog-post__latest-post-prgth {
  max-width: 482px;
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.blog-post__latest-post-prgth_1 {
  margin-bottom: 34px;
}
.blog-post__latest-post-prgth_2 {
  margin-bottom: 42px;
}
.blog-post__data-arrow-box {
  display: flex;
  width: 489px;
  align-items: center;
  gap: 214px;
}

.blog {
  margin-top: 0px;
}
.blog__date {
  display: flex;
  width: 223px;
  height: 33px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jost", sans-serif;
  font-family: "DM Serif Display", serif;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */