@import 'vars';
@import 'position';
@import 'index';

* {
    margin: $marginNone;
    padding: $paddingNone;
}

body {
    font-family: $fontText;
    font-family: $fontTitle;
}

a {
    text-decoration: none;
}